@import "Global.css";

.about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.about-text {
  flex: 1.5;
  background-color: var(--muted-blue);
  text-align: left;
  margin-left: 5%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgb(71, 71, 71, 0.2);
}

.about-title {
  font-weight: bold;
  text-align: left;
  margin-left: 5%;
}

.about-profile-image {
  flex: 1;
  justify-content: center;
}

.profile-img {
  clip-path: url(#blob3);
  max-width: 60%;
  height: auto;
  width: auto;
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .about-section {
    /* padding-top: 20%; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: brown; */
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-profile-image {
    order: -1;
    margin-top: 20px;
  }

  .about-text {
    margin: 3%;
    padding: 20px;
    box-shadow: 0px 5px 10px rgb(71, 71, 71, 0.2);
  }

  .profile-img {
    max-width: 50%;
    height: auto;
    width: auto;
    margin-bottom: 1rem;
  }
}
