@import "Global.css";

.navbar {
  position: fixed;
  top: 0;
}

.navbar-brand {
  padding-left: 2%;
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .navbar-brand {
    opacity: 0;
  }
}
