@import "Global.css";

.about-text {
  flex: 1.5;
  text-align: left;
  border-radius: 10px;
  margin-right: 5%;
  transition: transform 0.3s ease;
}

.about-profile {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  clip-path: url(#blob);
  background-color: var(--muted-blue);
}

/* Clips profile image/video to the shape of a blob */
.profile {
  clip-path: url(#blob);
  max-width: 80%;
  height: auto;
  width: auto;
}

/* Hides profile image/video */
.profile-hidden {
  display: none;
}

/* Shows paw cursor when hovering over the profile image/video */
.profile:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='100' style='font-family: serif; font-size: 30px;'><text y='50%'>🐾</text></svg>")
      16 0,
    auto;
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .about-profile {
    order: -1;
    max-width: 50%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 950px) {
  .about-profile {
    order: -1;
    max-width: 50%;
    margin-bottom: 2rem;
  }
}
