:root {
  /* background colors */
  --off-white: #fffaf5;
  --beige: #faeee0;
  --dark-beige: #ffddb6;
  --muted-blue: #d4dfdf;
  --muted-green: #bbc1b1;
  --muted-pink: #d2bdb8;
  --slate: #a4a4a3;

  /* accent colors */
  --beige-accent: #dfc6a9;
  --dark-beige-accent: #e0ab6d;
  --muted-blue-accent: #94b6cf;
  --muted-green-accent: #839367;
  --muted-pink-accent: #a9797c;
  --slate-accent: #625c68;

  /* vibrant colors */
  --orange: #fdbe5d;
  --red: rgba(255, 0, 0, 0.8);
  --blue: rgba(66, 82, 186, 0.8);
}

/* fonts */
@font-face {
  font-family: "caveat";
  src: url("../fonts/Caveat.ttf");
}

@font-face {
  font-family: "square-peg";
  src: url("../fonts/SquarePeg.ttf");
}

@font-face {
  font-family: "my-handwriting";
  src: url("../fonts/Handwriting.ttf"), url("../fonts/Caveat.ttf"),
    url("../fonts/SquarePeg.ttf");
}

/* Styling for paragraph text*/
p {
  font-family: monospace;
  text-align: left;
}

/* Styling for lists*/
ul {
  font-family: monospace;
  text-align: left;
  margin-bottom: 100%;
  font-size: 15px;
}

/* Styling for sections*/
.section {
  min-height: 100vh;
  display: flex;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--off-white);
}

/* Section intros (description about the section)*/
.section-intro p {
  font-family: square-peg;
  font-size: 30px;
  text-align: left;
}

/* Styling for section headers (title)*/
.section-header {
  font-weight: bold;
  text-align: left;
  font-family: monospace;
  font-style: italic;
}

/* Styling for section content*/
.section-content {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Styling for links*/
.section-content a {
  text-decoration: none;
  color: var(--blue);
}

/* Styling for links on hover */
.section-content a:hover {
  color: rgba(87, 32, 32, 0.6);
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .section {
    height: auto;
    justify-content: center;
  }

  .section-content {
    flex-direction: column;
  }
}

/* Adjust text size to fit smaller screens */
@media screen and (max-width: 950px) {
  p {
    font-size: 15px;
  }
}

/* Adjust top padding for smaller screens */
@media (min-width: 769px) and (max-width: 1200px) {
  .section {
    height: auto;
    justify-content: center;
    padding-top: 8%;
  }
}

/* Adjust flex direction for smaller screens */
@media (min-width: 769px) and (max-width: 950px) {
  .section-content {
    flex-direction: column;
  }
}
