@import "Global.css";

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--off-white);
  font-family: monospace;
}

.navbar-brand {
  margin-left: 2%;
}

.nav-link {
  margin-right: 10px;
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    background-color: transparent;
  }

  .main-navbar-brand {
    opacity: 0;
  }
}
