@import "Global.css";

.experience {
  font-weight: bold;
  margin-bottom: 1%;
}

.title {
  font-size: larger;
}

.content {
  margin-top: 1rem;
}

/*
SWIPER
*/
.swiper-container {
  display: none;
}

.swiper-container .swiper-wrapper {
  margin-top: 3%;
  padding-bottom: 10%;
}
.swiper-container .swiper-pagination {
  bottom: 0px !important;
}

.swiper-container .swiper-pagination-bullet {
  background: #000 !important;
}

.swiper-container .swiper-pagination-bullet-active {
  background: var(--blue) !important;
}

.swiper-container .swiper-slide {
  background-color: var(--beige);
  padding: 5%;
  border-radius: 15px;
}

/*
TABS
*/
.tabs {
  border-right: 1px solid rgba(105, 105, 105, 0.327);
  min-width: 30%;
}

.tabs-container {
  display: contents;
}

.tabs .Mui-selected {
  color: var(--blue) !important;
  background-color: #f0f0f098;
}

.tabs .MuiTabs-indicator {
  background-color: var(--blue);
}

.tabs-container .MuiBox-root {
  padding: 2%;
  padding-left: 4%;
  padding-right: 5%;
}

.css-0 {
  border-radius: 15px;
  background-color: var(--beige);
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .tabs {
    border-right: none;
  }

  .tabs-container {
    display: none;
  }

  .tabs-view {
    display: none;
  }

  .swiper-container {
    display: contents;
  }
}
