@import "Global.css";

.tab-container {
  border-right: 1px solid rgba(105, 105, 105, 0.327);
  min-width: 30%;
}

.position-title {
  font-weight: bold;
  font-size: larger;
}

/* Adjust to fit smaller screens */
@media screen and (max-width: 768px) {
  .tab-container {
    border-right: none;
    min-width: 30%;
  }
}
